#imgCovers {
    width: 20%;
}

.cont li {
    display: inline;
 }

.info {
    width: 20%;
}

.title {
    width: 20%;
}



/* BELOW IS MY CSS... ABOVE IS PAN'S */

/* body  */

body { 
    background-color: white;
    font-size: 14px;
    color: black;
}

.pizza
{
    width: 100%;
}

.gallery {
    width:100%;
    position: relative;
		padding: 0;
		margin: 0;
		text-align: center;
	}

	.gallery-image{
		position: relative;
		display: block;
	}

	.gallery-text{
	    position: absolute;
	    top: 40%; 
      right: 0;
	    bottom: 0; 
      left: 0;
	    text-align: center;
	    opacity: 1;
	}

	.gallery-text h3{
	  color: white;
	  display: inline-table;
      background-color: black;
      font-family: 'Lobster', cursive;
      font-size: 3em;
      padding: 9px;
    }
    


    #bio, #price, #style
    {
        margin-left: 20px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.5em;
    }

    #details
    {
        margin-bottom: 150px;
        margin-top: 50px;
    }






    /* header */

    #logo
    {
        width: 16%;
        margin-left: 42%;
        margin-right: 42%;
        cursor: pointer;
    }
    
    #menu
    {
        text-align: center;
        margin: 0 auto;
        background-color: brown;
        font-size: 2em;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-top: 20px;
    }
    
    #menu a
    {
        color:black;
        font-family: 'Lobster', cursive;
        padding: 3%;
        text-decoration: none;
        cursor: pointer;
    }
    
    #menu a:hover
    {
        color: brown;
        text-decoration: underline;
    }
    
    #headerVid
    {
        width: 100%;
    }


















    /* media queries */


    /* phone */

@media (max-width: 599px) {

#logo
{
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
}

#menu
{
    text-align: center;
    margin: 0 auto;
    background-color: brown;
    font-size: 2em;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 20px;
}

#menu a
{
    color:black;
    font-family: 'Lobster', cursive;
    display: block;
    text-decoration: none;
    cursor: pointer;
    border-bottom:  0.5px solid black;
}

footer p
{
    font-size: 0.9em;
}

#bio, #price, #style
{
    font-size: 1.3em;
}

.gallery-text h3
{
    font-size: 2em;
}

}

/* tablet */

    
@media (min-width: 600px) and (max-width: 1024px) {

    #logo
    {
        width: 30%;
        margin-left: 35%;
        margin-right: 35%;
    }
    
    }

    













    /* FOOTER */

    footer
{
    background-color: brown;
    height: 20px;
    padding-top: 10px;
    bottom: 0;
}

footer p
{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: brown;
}




