#imgCovers 
{
    width:90%;
    padding: 5%;
}

.cont li 
{
    width: 25%;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    padding: 4%;
 }

.info 
{
    width: 100%;
    text-align: center;
}

.title 
{
    width: 100%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.cont
{
    width: 100%;
}

#more
{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin: 0 auto;
}

#more:hover
{
    color: red;
}



/* body  */

body { 
    background-color: white;
    font-size: 14px;
    color: black;
}







    /* header */

    #logo
    {
        width: 20%;
        margin-left: 40%;
        margin-right: 40%;
        margin-top:2%;
        margin-bottom: 2%;
    }
    
    #menu
    {
        text-align: center;
        margin: 0 auto;
        background-color: black;
        font-size: 1.5em;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-top: 20px;
    }
    
    #menu a
    {
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        padding: 2%;
        text-decoration: none;
        cursor: pointer;
    }
    
    #menu a:hover
    {
        color: red;
        text-decoration: underline;
    }

    #moreDetails
    {
        width: 80%;
        margin: 10%;
        text-align: center;
    }


















    /* media queries */


    /* phone */

@media (max-width: 599px) {

#logo
{
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
}

#menu
{
    text-align: center;
    margin: 0 auto;
    background-color: black;
    font-size: 2em;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 20px;
}

#menu a
{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    text-decoration: none;
    cursor: pointer;
    border-bottom:  0.5px solid white;
}

footer p
{
    font-size: 0.9em;
}

#bio, #price, #style
{
    font-size: 1.3em;
}

.gallery-text h3
{
    font-size: 2em;
}

}

/* tablet */

    
@media (min-width: 600px) and (max-width: 1024px) {

    #logo
    {
        width: 30%;
        margin-left: 35%;
        margin-right: 35%;
    }
    
    }

    













    /* FOOTER */

    footer
{
    background-color: black;
    height: 20px;
    padding-top: 10px;
    bottom: 0;
}

footer p
{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: black;
}




