<img id="logo" src="images/sport-chek-logo.png" alt="Sport Chek">
<nav id="menu">
  <a href="index.php?filter=action">Men</a>
  <a href="index.php?filter=comedy">Women</a>
  <a href="index.php?filter=family">Kids</a>
  <a href="index.php?filter=horror">Footwear</a>
  <a href="index.php?filter=horror">Gear</a>
  <a href="index.php?filter=horror">Electronics</a>
  <a href="index.php?filter=horror">Jerseys</a>
  <a href="index.php">All</a>
  <a href="admin/admin_login.php">Admin Login</a>
</nav>




<!-- 

<header>
		<nav id="menu">
			<ul>
				<li><a href="index.php?filter=action">Men</a></li>
				<li><a href="index.php?filter=comedy">Women</a></li>
				<li><a href="index.php?filter=family">Kids</a></li>
				<li><a href="index.php?filter=horror">Footwear</a></li>
				<li><a href="index.php?filter=horror">Gear</a></li>
				<li><a href="index.php?filter=horror">Electronics</a></li>
				<li><a href="index.php?filter=horror">Jerseys</a></li>
				<li><a href="index.php">All</a></li>
				<li><a href="admin/admin_login.php">Admin Login</a></li>
			</ul>
		</nav>
</header> -->